DataCamp/statistic.py
DataCamp/test.py
.vscode/settings.json
SimpleLive_Pyueye_OpenCV.py
Tirocinio/__pycache__/cam_sens.cpython-38.pyc
Tirocinio/__pycache__/driver.cpython-38.pyc
Tirocinio/__pycache__/setup.cpython-38.pyc
